td {
    padding: 10px;
    text-align: center;
}

#header_text {
    font-size: 70px;
    font-family: serif;
}

#lobby {
    text-align: center;
}

#chess-board{
    border: 5px solid;
}

#waiting {
    font-size: 30px;
}

#winner_text {
    font-size: 30px;
}

.center_table {
    margin: auto;
}

.loader {
    border: 10px solid #d3d3d3;
    border-top: 10px solid #1e90ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto;
    animation: rotate_animation 1.5s infinite linear;
}

@keyframes rotate_animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*.join_button {*/
/*    border: 1px black solid;*/
/*}*/