td {
    padding: 10px;
    text-align: center;
}

#header_text {
    font-size: 70px;
    font-family: serif;
}

#lobby {
    text-align: center;
}

#chess-board{
    border: 5px solid;
}

#opponent_disconnected {
    display: none;
}

#pieces_lost_up {
    text-align: right;
    padding-bottom: 0;
    line-height: 25px;
    font-size: 25px;
}

#pieces_lost_up:after {
    content: "\00a0";
}

#pieces_lost_down {
    text-align: left;
    padding-top: 0;
    line-height: 25px;
    font-size: 25px;
}

#pieces_lost_down:after {
    content: "\00a0";
}

#board_td {
    padding-top: 0;
    padding-bottom: 0;
}

.navigation {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.side_text {
    font-size: 30px;
}

.center_table {
    margin: auto;
}

.loader {
    border: 10px solid #d3d3d3;
    border-top: 10px solid #1e90ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto;
    animation: rotate_animation 1.5s infinite linear;
}

@keyframes rotate_animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
